@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/* Common Styling */

:root {
    /* --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0; */
        --primary-color: #9112c7;
        --secondary-color: #0e1525;
        --bg-dark-blue: #091020;
        --bg-white: #fff;
        --gray-color: #c6c9d8bf;
        --gradient-color: linear-gradient(-244deg, var(--primary-color) 0, #337DFF 100%);
        --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color) 79.69%);
        --primary-font: 'Poppins', sans-serif;
        --primary-text: #FD4766;
        --text-gray: #c6c9d8bf;
        --text-white: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.common-section{
    padding-top: 100px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0e1525;
    /* color: #fff; */
}

.section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gradient-text);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

/* h1, h2, h3 {
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
} */

.subtitle {
    /* display: inline-block; */
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background-color: var(--gradient-color);
    color: var(--primary-color);
    -webkit-background-clip: text;
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    line-height: 1.3px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 2.5rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
}

.common-image{
    width: 50px;
    height: 50px;
}

/* .common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
} */

.common-h1-heading{
    margin-bottom: 65px;
}

.common-button {
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

/* Styling header  */

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
    outline: none !important;
    box-shadow: none !important;
}

.common-heading{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}

.common-heading span:hover{
    color: var(--primary-color);
}

.header_wrapper .navbar {
    /* background-color: var(--bg-dark-blue); */
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--gray-color);
    line-height: 2px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow: 0 4px 6px 0 rgba(10, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(10, 0, 46, .05);
}

.header-scrolled .nav-item .nav-link.nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--primary-color);
}

.nav-link {
    /* color: var(--bs-main-color);
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 800; */
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}

.header-section{
    background-color: #0e1525;
}

.nav-link:hover {
    color: var(--bs-secondary-color);
    cursor: pointer;
    /* border-bottom: 2px solid var(--bs-secondary-color); */
}

.navbar-toggler-icon {
    background-color: beige;
}

.bg-image-1{
    margin-top: 90px;
    /* width: 100%;
    height: 550px;
    background-image: url("../images/home.jpg");
    background-size: contain;
    background-repeat: no-repeat; */
}

.bg-image-2{
    margin-top: 90px;
}

/* h1{
    font-size: 2rem;
} */

/* Login Section Styling */

.login-section {
    display: grid;
    place-content: center;
    /* border: 2px solid black; */
}

.login-section--form {
    margin-top: 10rem;
    margin-bottom: 5rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: 35rem;
    height: auto;
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: aliceblue;
}

.login-section--form h2 {
    margin-bottom: 2rem;
}

.login-section--submit-button {
    margin-top: 2rem;
}

/* Styling Registration Form  */

.register {
    background-color: #042b49;
    padding: 2rem;
}

.register-left {
    display: grid;
    place-content: center;
    background-attachment: var(--bs-secondary-color);
}

.register-right-heading ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.register-right .container {
    background-color: var(--bs-main-color);
    height: 27 rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.register-right--heading ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.register-right--heading h2 {
    margin-left: 1rem;
}

.register-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* .footer{
    width: 100%;
    margin: 0;
} */

/* Service Section Styling  */

/* .service-section{
    margin-top: 125px;
    border: 2px solid white;
    width: 80vw;
    margin: auto;
    border-radius: 5px;
    background-color: #E9BCB7;
}

.service-section--image img{
    width: 20rem;
    border-radius: 10px;

} */

/* Contact */
.contact_details{
    border: 2px solid #c6c6c6;
    width: 600px;
    background-color: #091020;
    padding: 50px 70px;
    border-radius: 20px;
}
.form_wrapper{
    display: flex;
    justify-content: space-between;
}

.contact_wrapper{
    padding: 100px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #c6c6c6;y */
}

.contact_wrapper .main-btn{
    color: #000;
    background-color: #fff;
}

.contact_details:hover{
    box-shadow: 0px 0px 85px rgb(145, 18, 199);
    transform: translateY(-15px);
    transition: all 0.4s linear;
}

.contact_details:hover .common-h1-heading span{
    color: #9112c7;
}

.contact_details:hover .common-h1-heading span::after{
    width: 100%;
}

.form-control{
    border: 2px solid #c6c6c6;
}

.contact_wrapper .form-control,
.contact_wrapper textarea {
    background-color: transparent;
    border-color: var(--gray-color);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}

.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus {
    border-color: var(--primary-color);
    color: var(--text-white);
}

/* Service */
.card-body h3{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-body p{
    color: #c6c6c6;
}

.services_wrapper .card {
    background-color: var(--bg-dark-blue);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.services_wrapper .card:hover {
    box-shadow: 0px 0px 65px rgb(145, 18, 199);
    transform: translateY(-15px);
    transition: all 0.4s linear;
}

/* About Section Styling  */

.about-section--para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section--image-section img{
    border-radius: 50px;
}

/* Gallery Section Styling  */

.gallery-section .col-lg-4 > img{
    width: 50px;
    height: 50px;
}

.gallery-section--image img{
    width: 20rem;
    border-radius: 10px;
}

/* Room Section Styling  */

.room-section{
    width: 75vw;
    margin: auto;
}

.room-section .col-lg-4{
    width: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.room-section--image img{
    width: 100%;
    height: 200px;
    border-top: 2px solid #c6c6c6;
}

.room-section .card{
    /* width: 290px; */
    /* border: 2px solid white; */
    /* height: ; */
    border: 2px solid #c6c6c6;
    border-top: none;
}

.room-section .card:hover{
    box-shadow: 0px 0px 85px rgb(145, 18, 199);
    transform: translateY(-15px);
    transition: all 0.4s linear;
}

.room-section .card:hover .main-btn{
    background-color: #9112c7;
    color: white;
    box-shadow: #ef4e0f;
}

.room-section .card:hover .common-heading span{
    color: var(--primary-color);
}

.room-section .card:hover, .common-heading span::after{
    width: 100%;
}

.common-heading span:hover::after{
    width: 100%;
}

/* .common-h1-heading span{
    position: relative;
    display: flex;
} */

.common-h1-heading span{
    display: inline-block;
    position: relative;
}

.common-h1-heading span::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: -30px;
}

.common-h1-heading span:hover{
    color: #9112c7;

}

.common-h1-heading span:hover::after{
    width: 100%;
}

@keyframes btnHover {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.room-section--para{
    color: #c6c6c6;
    font-size: 16px;
}

.room-section--para .main-btn{
    background-color: white;
    color: #000;
    font-weight: 500;
}

.room-section--para .main-btn:hover{
    background-color: #0e1525;
    color: white;
    box-shadow: #ef4e0f;
}

.room-section .room-section--para{
    background-color: #0e1525;
    height: 400px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.common-heading span{
    display: inline-block;
    position: relative;
}

.common-heading span::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0px;
}

.common-heading span:hover{
    color: #9112c7;
}

.room-section .btn-primary{
    padding: 5px 0px;
    width: 135px;
    color: #f74f00;
    background-color: white;
    outline: none;
    border: none;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer  */

.footer_wrapper {
    background-color: var(--bg-dark-blue);
    /* padding: 40px 0; */
    padding-top: 40px;
    padding-bottom: 15px;
    color: #c6c6c6;
}

.footer_wrapper .footer-logo img {
    width: 100%;
    max-width: 120px;
}

.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.footer_label img{
    margin-right: 5px;
}

.footer_wrapper .social-icon a {
    width: 40px;
    height: 40px;
    line-height: 35px;
    font-size: 16px;
    display: inline-block;
    border: 2px solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
}

.footer_wrapper .social-icon a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0 / 10%);
    transform: translateY(-3px);
}

.footer_wrapper .copyright-text p {
    font-size: 12px;
    line-height: 20px;
}

.footer_wrapper .copyright-text a {
    color: var(--primary-color);
}

.copyright-text{
    position: relative;
    top: 115px;
}