<div class="about-section common-section" id="about">
    <div class="container">
    <div class="my-3 my-lg-0 text-center">
            <span class="subtitle">About our hostel</span>
            <h1 class="mt-4 common-h1-heading"><span>About Us</span></h1>
            <!-- <p>...</p> -->
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-center about-section--para">
                <h1 class="py-3 px-5 common-about-heading"><span>Know more about us</span></h1>
                <p class="px-3" style="color:#c6c6c6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, mollitia. Maiores quisquam,
                    voluptates rem incidunt commodi debitis sequi!  Maiores quisquam,
                    voluptates rem incidunt commodi debitis sequi! </p>
                <button class="main-btn my-4 w-25">Join Us</button>
            </div>
            <div class="col-12 col-lg-6 about-section--image-section">
                <img class="img-fluid about-section--image" src="./images/building.svg" alt="Image is not found">
            </div>
        </div>
    </div>
</div>