<div class="nav_bar">

</div>

<div class="main">
    {{>sidebar}}

    <div class="main_bar">
        <div class="container">
            <div class="my-3 my-lg-0 text-center">
            <h1 class="mt-4 common-h1-heading"><span>Emergency Alert</span></h1>
            <!-- <p>...</p> -->
        </div>
        </div>
        <div class="main-bar-content">
</div>

{{!-- <div class="sidebar-profile-section"></div>
            <div class="profile-image">
                <img src="./images/god.jpg" alt="">

            </div>
            <div class="profile-name">
                <h3>John</h3>
            </div>
        </div> --}}