{{>navbar}}

<div class="main">
    {{>sidebar}}

    <div class="main_bar">
        <div class="container">
            <div class="my-3 my-lg-0 text-center">
                <h1 class="mt-4 common-h1-heading"><span>Make Complain</span></h1>
                <!-- <p>...</p> -->
            </div>
        </div>
        <div class="complain-section">
            <div class="complain-section-details">
                <div class="common-details">
                    <h2 class="text-center mb-3 common-heading"><span>Complain Details</span></h2>
                    <p>Complain Title: <span>Room Cleaning</span></p>
                    <p>Complain Description: <span>Room is not cleaned properly</span></p>
                    <p>Complain Date: <span>12/12/2023</span></p>
                    <p>Complain Status: <span class="complainStatus">Pending</span></p>
                </div>
            </div>
        </div>

        <div class="text-center"><button class="main-btn mt-3">Make Complain</button></div>

        {{!-- <div class="sidebar-profile-section">
            <div class="profile-image">
                <img src="./images/god.jpg" alt="">

            </div>
            <div class="profile-name">
                <h3>John</h3>
            </div>
        </div> --}}
    </div>
</div>