<div class="nav_bar">

</div>

<div class="main">
    {{>sidebar}}


    <div class="main_bar">
        <div class="container">
            <div class="my-3 my-lg-0 text-center">
                <h1 class="mt-4 common-h1-heading"><span>Manage Fees</span></h1>
                
            </div>
        </div>
        <div class="fees-section">
            <div class="fees-section-details">
                <div class="common-details">
                    <p>Name: <span>Krishil Agrawal</span></p>
                    <p>Block: <span>Residency</span></p>
                    <p>Room No: <span>401</span></p>
                    <p>Room Type: <span>Deluxe</span></p>
                    <p>Sharing: <span>4</span></p>
                </div>
            </div>

            <div class="fees-details">
                <div class="common-details">
                    <h2>Fees Details</h2>
                    <p>Room Fees: ₹44300/-</p>
                    <p>Canteen Fees: ₹53750/-</p>
                    <p>Deposit: ₹5000/-</p>
                    <p>Total Fees: ₹103050/-</p>
                    <p>Fees Status: <span class="feeStatus">Pending</span></p>
                </div>
            </div>

            <div class="text-center fees-status">
                <button class="main-btn">Pay Fees</button>
            </div>

        </div>

    </div>

    {{!-- <div class="sidebar-profile-section"></div>
    <div class="profile-image">
        <img src="./images/god.jpg" alt="">

    </div>
    <div class="profile-name">
        <h3>John</h3>
    </div>
</div> --}}