<div class="footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                {{!-- <div class="footer-logo mb-3 mb-md-0">
                    <img src="./images/logo.png" alt="Logo" class="img-fluid">
                </div> --}}
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                Alernative you can reach us on <br/>
            <div class="footer_label">
                <div>
                    <img style="height: 20px; width: 20px;" src="./images/phone-call.png" alt=""><span>  <a href="">+918320902499</a></span>
                </div>
                <div>
                    <img style="height: 20px; width: 20px;"  src="./images/messages-1.png" alt=""><span>krishilagrawal026@gmail.com</span>
                </div>
            </div>
                Follow us on: <br />
                <ul
                    class="list-unstyled d-flex justify-content-center justify-content-md-end justify-content-lg-center social-icon mb-3 mb-md-0">
                    <li>
                        <a href="https://www.instagram.com/krishil98/" aria-label="Instagram"><i
                                class="fab fa-instagram"></i></a>
                    </li>

                    <li>
                        <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                    </li>

                    <li>
                        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/krishil-agrawal-49aaa9283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <div>
                    <p>Copyright ©️ 2024 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>