<div class="nav_bar">

</div>

<div class="main">
    {{>sidebar}}


<div class="main_bar">
    <div class="container">
        <div class="my-3 my-lg-0 text-center">
            <h1 class="mt-4 common-h1-heading"><span>Profile</span></h1>
            <!-- <p>...</p> -->
        </div>
    </div>
    <div class="main-bar-content">
        <div class="basic-info">
            <h2>Basic Details</h2>
            Name: Krishil Agrawal <br> Age: 19<br>
            Joining Year: 2023<br>
            <div>
                <br>
                <div class="room-info">
                    <h2>Room Details</h2>
                    Block: Residency<br>
                    Room No: 401<br>
                    Room Type: Deluxe<br>
                    Sharing: 4<br>
                </div>

            </div>
        </div>
    </div>

</div>

    {{!-- <div class="sidebar-profile-section"></div>
    <div class="profile-image">
        <img src="./images/god.jpg" alt="">

    </div>
    <div class="profile-name">
        <h3>John</h3>
    </div>
</div> --}}