<div class="nav_bar shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
        {{!-- <img src="./images/logo.png" class="img-fluid" alt="logo"> --}}
        <h2 style="color:#c6c6c6">AHK</h2>
        </a>
    </div>
</div>