{{>navbar}}

<div class="main">
    {{>sidebar}}

    <div class="main_bar">
        <div class="container">
            <div class="my-3 my-lg-0 text-center">
                <h1 class="mt-4 common-h1-heading"><span>Notice Board</span></h1>
                <!-- <p>...</p> -->
            </div>
        </div>
        <div class="notice-section">

            <div class="notice-section-details">
                <h2 class="text-center mb-3 common-heading"><span>Notice Title</span></h2>
                <div class="notice-description">
                    There can be chances to electricity cut out today so take care of this
                </div>
            </div>

        </div>
    </div>
</div>

{{!-- <div class="sidebar-profile-section"></div>
<div class="profile-image">
    <img src="./images/god.jpg" alt="">

</div>
<div class="profile-name">
    <h3>John</h3>
</div>
</div> --}}