<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 welcome-section text-center">
            <h1>Welcome</h1>
            <p>to the complete MERN Backend course</p>
            <button class="btn btn-light">Login</button>
        </div>
        <div class="col-md-8 form-section">
            <nav class="nav justify-content-end">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Login</a>
                <a class="nav-link active" href="#">Registration</a>
            </nav>
            <h2 class="text-center">Employee Registration Form</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="number" class="form-control" placeholder="Age">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>