<div class="room-section" id="rooms">
    <div class="container">
        <h1 class="text-center mb-4 mt-4">Rooms</h1>
    {{!-- <hr class="w-25 mx-auto mb-5 mt-3"> --}}
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para text-white">
                        <h2 class="text-center my-3">SOLO ROOM</h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus fugit perspiciatis perferendis tempore voluptas illum!</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="text-center">
                            <button class="btn-primary">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-white">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para">
                        <h2 class="text-center my-3">SOLO ROOM</h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus fugit perspiciatis perferendis tempore voluptas illum!</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="text-center">
                            <button class="btn-primary">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-white">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para">
                        <h2 class="text-center my-3">SOLO ROOM</h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus fugit perspiciatis perferendis tempore voluptas illum!</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="text-center">
                            <button class="btn-primary">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>