<div class="room-section common-section" id="rooms">
    <div class="container">
        <div class="my-3 my-lg-0 text-center">
            <span class="subtitle">Rooms we provide in our hostel</span>
            <h1 class="mt-4 common-h1-heading"><span>Rooms</span></h1>
            <!-- <p>...</p> -->
        </div>
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-sm-4 mt-lg-4 text-white">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para">
                        <h2 class="text-center my-3 common-heading"><span>Deluxe</span></h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="btn-div text-center">
                            <button type="submit" class="main-btn" fdprocessedid="tplc2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-lg-0 mb-sm-4 mt-lg-4 text-white">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para">
                        <h2 class="text-center my-3 common-heading"><span>Super Deluxe</span></h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="btn-div text-center">
                            <button type="submit" class="main-btn" fdprocessedid="tplc2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-lg-0 mb-sm-4 mt-lg-4 text-white">
                <div class="card">
                    <div class="room-section--image">
                        <img src="./images/indoors-4234071_1280.jpg" alt="No image available">
                    </div>
                    <div class="room-section--para">
                        <h2 class="text-center my-3 common-heading"><span>Grand</span></h2>
                        <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at qui doloremque eius delectus</p>
                        <br>
                        <p class="px-3">Heading</p>
                        <ul class="mx-3">
                            <li>Our facilites are best</li>
                            <li>We are the best</li>
                            <li>No one can compete with us</li>
                            <li>We are supreme</li>
                        </ul>
                        <div class="btn-div text-center">
                            <button type="submit" class="main-btn" fdprocessedid="tplc2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>