<section id="services" class="services_wrapper common-section">
    <div class="container">
        <div class="row">
            <div class="my-3 my-lg-0 text-center">
                <span class="subtitle">Services we offered</span>
                <h1 class="mt-4 common-h1-heading"><span>Services</span></h1>
                <!-- <p>...</p> -->
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-md-start text-center">
                        <img src="./images/food-safety.png" alt="UI UX Developer" style="width: 50px; height: 50px;">
                        <h3>Healthy Foods</h3>
                        <p>We offer healthy meal options, prepared with care, to support a balanced and nutritious lifestyle for all residents.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-md-start text-center">
                        <img class="common-image" src="./images/cctv-camera.png" alt="Website Development">
                        <h3>CCTV Surveillance</h3>
                        <p>Security is paramount. Our hostel is under 24/7 CCTV surveillance to ensure a safe environment for all residents.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-md-start text-center">
                        <img class="common-image" src="./images/water.png" alt="Water Facility">
                        <h3>Drinking Water</h3>
                        <p>Clean, purified drinking water is available at convenient locations throughout the hostel for easy access anytime.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-md-start text-center">
                        <img class="common-image" src="./images/gate.png" alt="Mobile App Development">
                        <h3>File the complain</h3>
                        <p>Need to report an issue or make a suggestion? Use our complaint system to communicate your concerns, and we'll handle
                        them promptly.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-md-start text-center">
                        <img class="common-image" src="./images/emergency-button.png" alt="Mobile App Development">
                        <h3>Emergency Alert</h3>
                        <p>For urgent situations, our emergency alert system is designed to provide immediate assistance, ensuring quick responses
                        when needed.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>