<section id="services" class="services_wrapper common-section">
        <div class="container">
            <div class="row">
                <div class="my-3 my-lg-0 text-center">
            <span class="subtitle">Services we offered</span>
            <h1 class="mt-4">Services</h1>
            <!-- <p>...</p> -->
        </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="./images/ui-ux.png" alt="UI UX Developer" style="width: 50px; height: 50px;">
                            <h3>UI UX Developer</h3>
                            <p>Has experience in making figma projects <br> In depth knowledge of the tools</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="./images/service/service-2.svg" alt="Website Development">
                            <h3>Website Development</h3>
                            <p>Mern Stack Development <br> Made several projects in Mern Stack</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="./images/service/service-3.svg" alt="Marketing and Reporting">
                            <h3>Marketing and Reporting</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="./images/service/service-4.svg" alt="Mobile App Development">
                            <h3>Mobile App Development</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section>