<div class="side_bar">
    <div class="profile">
        <div class="profile-image">
            <a href="/dashboard"><img src="./images/god.jpg" alt=""></a>
        </div>
        <div class="profile-name">
            <a href="/dashboard"><h5>Krishil Agrawal</h5></a>
        </div>
    </div>

    <div class="sidebar-options">
        <div class="options">
            <div class="option">
                <a href="/complain">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Complains</span>
                </a>
            </div>

            <div class="option">
                <a href="/menu">
                    <i class="fas fa-id-card"></i>
                    <span>Mess Menu</span>
                </a>
            </div>

            <div class="option">
                <a href="/room">
                    <i class="fas fa-id-card"></i>
                    <span>Room Allocation</span>
                </a>
            </div>

            <div class="option">
                <a href="/fees">
                    <i class="fas fa-id-card"></i>
                    <span>Manage Fees</span>
                </a>
            </div>

            <div class="option">
                <a href="/gate">
                    <i class="fas fa-id-card"></i>
                    <span>Gate Pass</span>
                </a>
            </div>

            <div class="option">
                <a href="/notice">
                    <i class="fas fa-bullhorn"></i>
                    <span>Notice Board</span>
                </a>
            </div>

            <div class="option">
                <a href="/alert">
                    <i class="fas fa-exclamation-circle"></i>
                    <span>Emergency Alert</span>
                </a>
            </div>
        </div>

        <div class="container sidebar-logout">
            <button class="main-btn">
                <a href="/">Log out</a>
            </button>
        </div>

    </div>

</div>