<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="./css/dashboard.css">
</head>

<body>

    {{>gate}}

    <script src="./js/main.js"></script>

</body>

</html>