<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>header}}

    {{>rooms}}

    {{>service}}

    {{>amenities}}

    {{>gallery}}

    {{>about}}

    {{>footer}}

</body>

</html>