<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    
    {{>header}}

    <!-- Login section starts  -->

    <div class="login-section border-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="container-fluid login-section--form border-2" action="/login" method="POST">
                        <h2 class="text-center">Login</h2>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <div class="login-section--button text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- Login section ends  -->

    {{>footer}}

</body>
</html>